body {
  display: grid;
  width: 100%;
  min-width: 1000px;
  height: 900px;
  position: relative;
  margin: auto;
  grid-template-areas: "header header header" "name name name" "navigationBar section section" "navigationBar content empty" "footer footer footer";
  grid-template-columns: 200px minmax(500px, auto) 200px;
  grid-template-rows: 30px 50px 30px 100% 30px;
}

.header {
  grid-area: header;
  background-color: #979ea8;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  display: block;
  z-index: 6;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid black;
}
.header h6 {
  display: inline;
  margin-right: 5px;
}

.name {
  grid-area: name;
  position: fixed;
  width: 100%;
  min-width: 1000px;
  height: 50px;
  margin-top: 30px;
  display: flex;
  z-index: 6;
  background-color: #97a8a1;
  border-bottom: 1px solid black;
  font-family: "Montserrat", sans-serif;
}
.name h1 {
  width: 25%;
  min-width: 1000px;
  height: 70%;
  display: block;
  text-align: center;
  margin: 0px auto;
}

/* old navBar
.navigationBar {
	grid-area: browser;
	background-color: #9c97a8;
	@include font($font-family);
	padding: 0px 10px;
	border-top: $border-thin;
}
*/
/* NAV */
.navigationBar {
  font-family: "Montserrat", sans-serif;
  background-color: #9c97a8;
  display: grid;
  grid-area: navigationBar;
  margin: 0px;
  padding: 0px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 30px;
  grid-template-areas: "navLinks navFlairParent";
}
.navigationBar #navLinks {
  background-color: #9c97a8;
  grid-area: navLinks;
  display: grid;
  grid-template-rows: repeat(6, 30px);
  grid-template-columns: 1fr;
  margin: 0px;
  padding: 0px;
}
.navigationBar #navLinks .link {
  padding-top: 5px;
  padding-left: 7px;
}
.navigationBar #navFlairParent {
  grid-area: navFlairParent;
  display: grid;
  margin: 0px;
  padding: 0px;
  grid-template-rows: repeat(6, 30px);
  grid-template-columns: 1fr;
}

/* end NAV */
.section {
  grid-area: section;
  display: flex;
  z-index: 5;
  background-color: #9c97a8;
  font-family: "Montserrat", sans-serif;
}
.section span {
  visibility: hidden;
  display: inline-block;
  height: 70%;
  font-size: 14px;
  margin: 0px auto;
}

.content {
  grid-area: content;
  background-color: #e7efff;
  font-family: "Montserrat", sans-serif;
}
.content .container {
  display: grid;
  height: 100%;
  padding-left: 20px;
  padding-right: 10px;
  margin-top: 10px;
  grid-row-gap: 10px;
  grid-template-areas: "form" "entries";
  grid-template-columns: 1fr;
  grid-template-rows: 120px 100%;
}
.content .container .form {
  border: 2px solid gray;
  background-color: #dae1fa;
  box-shadow: 3px 5px #aea7be;
  z-index: 5;
  grid-area: form;
  grid-gap: 3px;
  margin: auto;
  width: 50%;
  min-width: 500px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "choices choices" "entryText entryInput" "descriptionText descriptionInput" "submit submit";
}
.content .container .form .choices {
  grid-area: choices;
  justify-self: center;
  bottom-border: 1px;
}
.content .container .form .entryText {
  grid-area: entryText;
}
.content .container .form .entryInput {
  grid-area: entryInput;
}
.content .container .form .descriptionText {
  grid-area: descriptionText;
}
.content .container .form .descriptionInput {
  grid-area: descriptionInput;
}
.content .container .form .submit {
  grid-area: submit;
  justify-self: end;
}
.content .container .entries {
  grid-area: entries;
  height: 80%;
  margin-top: 10px;
}
.content .container .entries .entry {
  display: grid;
  border-top: 2px dotted #dae1fa;
  grid-template-rows: 20px 100px;
  grid-template-columns: 1fr 1fr 14fr;
  padding: 5px;
  padding-top: 10px;
  grid-gap: 5px;
  grid-template-areas: "date type entryActual" "blank blank description";
}
.content .container .entries .entry .date {
  grid-area: "date";
  margin: 0px;
  font-style: italic;
  font-size: 12px;
}
.content .container .entries .entry .type {
  grid-area: "type";
  margin: 0px;
  font-weight: 700;
  font-size: 12px;
}
.content .container .entries .entry .entryActual {
  grid-area: "type";
  margin: 0px;
  font-weight: 700;
  overflow: auto;
}
.content .container .entries .entry .blank {
  grid-area: "blank";
  visibility: hidden;
  margin: 0px;
}
.content .container .entries .entry .description {
  grid-area: "description";
  margin: 0px;
  overflow: auto;
}

.empty {
  grid-area: empty;
  background: linear-gradient(to right, #e7efff, #bfc4d1);
  font-family: "Montserrat", sans-serif;
}

.footer {
  grid-area: footer;
  display: flex;
  background-color: #8283a8;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-align: center;
  border: 1px solid black;
}
.footer span {
  display: block;
  width: 400px;
  margin: auto;
}

/*# sourceMappingURL=stylesheet.css.map */
