$border-thin: 1px solid black;
$background-color: #589066;
$incr-color: #101010;
$font-family: 'Montserrat', sans-serif;;

@mixin test-border($testing-border) {
	border: $testing-border;
}

@mixin colors($background-color, $incr-color) {
	background-color: $background-color + $incr-color;
}

@mixin font($font-family) {
	font-family: $font-family;
}

body {
	display: grid;
	
	width: 100%;
	min-width: 1000px;
	height: 900px;

	position: relative;
	margin: auto;
  	
	grid-template-areas: 
	"header header header"
	"name name name"
	"browser content empty"
	"footer footer footer";
	grid-template-columns: 200px minmax(500px, auto) 200px;
	grid-template-rows: 30px 50px 100% 30px;
}


.header {
	grid-area: header;

	background-color: #979ea8;

	text-align: right;
	@include font($font-family);

	position: fixed;
	display: block;
	z-index: 6;

	width: 100%;
	height: 30px;

	border-bottom: 1px solid black;

	h6 {
		display: inline;
		margin-right: 5px;
	}
}

.name {
	grid-area: name;
	position: fixed;
	width: 100%;
	min-width: 1000px;
	height: 50px;
	margin-top: 30px;
	display: flex;
	z-index: 6;
	background-color: #97a8a1;
	border-bottom: $border-thin;
	
	@include font($font-family);


	padding: 3px;

	h1 {
		width: 25%;
		min-width: 1000px;
		height: 70%;
		display: block;
		text-align: center;
		margin: 0px auto;
		
	}
}


.browser {
	grid-area: browser;
	background-color: #9c97a8;
	@include font($font-family);
	padding: 0px 10px;
	border-top: $border-thin;
}

.content {
	grid-area: content;
	background-color: #e7efff;
	@include font($font-family);
	
	.container {
		display: grid;
		
		height: 100%;
		padding-left: 10px;
		padding-right: 10px;
		grid-row-gap: 10px;
		
		grid-template-areas: 
		"section"
		"form"
		"entries";
		grid-template-columns: 1fr;
		grid-template-rows: 30px 120px 100%;


		.section {
			grid-area: section;
			display: flex;
			z-index: 5;
			background-color: #9c97a8;
			font-weight: bold;
			margin-left: -12px;
			margin-top: 5px;
			border-top: $border-thin;
			
			border-bottom: $border-thin;
			span {
				display: inline-block;
				height: 70%;
				font-size: 14px;
				margin-left: 10px;
				
				align-self: center;
			}
		}

		.form {
			border: 2px dashed gray;
			background-color: #dae1fa;
			z-index: 5;
			grid-area: form;
			grid-gap: 3px;
			margin: auto;
			width: 50%;
			min-width: 500px;
			padding: 5px;
			display: grid;
			grid-template-columns: 1fr 3fr;
			grid-template-rows: 1fr 1fr 1fr 1fr;
			grid-template-areas: 
			"choices choices"
			"entryText entryInput"
			"descriptionText descriptionInput"
			"submit submit";
			
			.choices {
				grid-area: choices;
				justify-self: center;
				bottom-border: 1px ;
			}
			.entryText {
				grid-area: entryText;
			}
			.entryInput {
				grid-area: entryInput;
			}
			.descriptionText {
				grid-area: descriptionText;
			}
			.descriptionInput {
				grid-area: descriptionInput;
			}
			.submit {
				grid-area: submit;
				justify-self: end;
			}
		}

		.entries {
			grid-area: entries;
			height: 80%;
			margin-top: 10px;
			
			.entry {
				display: grid;
				border-top: 2px dotted #dae1fa;
				grid-template-rows: 20px 100px;
				grid-template-columns: 1fr 1fr 14fr;
				padding: 5px;
				padding-top: 10px;
				grid-gap: 5px;
				grid-template-areas: "date type entryActual"
									"blank blank description";
				.date {
					grid-area: "date";
					margin: 0px;
					font-style: italic;
					font-size: 12px;
				}

				.type {
					grid-area: "type";
					margin: 0px;
					font-weight: 700;
					font-size: 12px;

				}

				.entryActual {
					grid-area: "type";
					margin: 0px;
					font-weight: 700;
					overflow: auto;
				}

				.blank {
					grid-area: "blank";
					visibility: hidden;
					margin: 0px;
				}

				.description {
					grid-area: "description";
					margin: 0px;
					overflow: auto;
				}
			}
		}
/* This creates adjustable areas, but I don't think I maybe need it if I'm adding things organically?

		entry {
			grid-area: entry;
			padding: 10px;
			border: $border-thin;
			text-align: right;
			certical-align: middle;
		}
		.description {
			grid-area: description;
			padding: 10px;
			border: $border-thin;
		}
		*/

	}
}

.empty {
	grid-area: empty;
	background: linear-gradient(to right, #e7efff, #bfc4d1);
	@include font($font-family);
	border-top: $border-thin;
	
}

.footer {
	grid-area: footer;
	display: flex;
	background-color: #8283a8;
	@include font($font-family);
	font-size: 12px;
	text-align: center;
	span {
		display: block;
		width: 400px;
		margin: auto;
	}
	border: $border-thin;
}
